<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" placeholder="Ajouter un titre" ngModel required minlength="3" #title="ngModel" />
      <mat-error *ngIf="title.invalid">Veuillez entrer un titre</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput cols="30" rows="10" name="content" placeholder="Ajouter un texte" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Veuillez entrer un texte</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sauvegarder</button>
  </form>
</mat-card>
